// 项目提供scss全局变量
// 定义项目主题颜色
$base-color: rebeccapurple;

// 左侧菜单的宽带
$base-menu-width: 260px;
// 左侧菜单的背景颜色
// $base-menu-backgroucolor: #001529;
$base-menu-backgroucolor: rgb(156, 156, 241);
// 顶部导航的高度
$base-tabbar-height: 60px;
// 左侧菜单logo高度显示
$base-menu-logo-height: 50px;
// 左侧菜单logo文字大小
$base-menu-logo-title-szie: 20px;
// 左侧菜单栏折叠的宽度
$base-menu-mini-width: 62px;
